body {
}

.navbar-toggle .icon-bar {
  background-color: #33A8F2;
}

.navbar {
  border-radius: 0px; 
}

.student-img {
  height: 100px;
  width: 100px;
}

.index-container {
  text-align: center;
}

.index-section-1 h1 {
  font-size: 60px;
  font-weight: bold;
}

.index-section-2 > h1 {
  margin: 10px 20px 20px 20px;
}

.well-color {
  padding: 40px;
}
