@(buyOffers: List[BuyOffer])

@Main("Buy Offers") {
   <div class="container">
     <a class="btn btn-primary btn-lg pull-right" href="@routes.Application.newBuyOffer(0)">Add Offer</a>
     <h2>Buy Offers <span class="badge">@buyOffers.size()</span></h2>
     <table class="table table-bordered table-stripped">
      <tr>
        <th>Buyer</th>
        <th>Textbook</th>
        <th>Price</th>
        <th>Expiration Date</th>
      </tr>
      @for(buyOffer <- buyOffers) {
        <tr>
          <td>@if(!buyOffer.isNotExpired()) {<label class="label label-danger">Expired</label>} @buyOffer.getStudentName()</td>
          <td>@buyOffer.getTextbookName()</td>
          <td>@buyOffer.getPrice()</td>
          <td>@buyOffer.getExpirationDate()</td>
          <td><a href="@routes.Application.manageBuyOffer(buyOffer.getId())"><button class="btn">Edit</button></a></td>
          <td><a href="@routes.Application.deleteBuyOffer(buyOffer.getId())"><button class="btn">Delete</button></a></td>
        </tr>
      }
     </table>
   </div>
}
