@(message: String) 

@Main("Home") {
<div class="index-container">
	<div class="well">
	  <br>
		<div class="index-section-1">
			<h1>Welcome to Text Book Emporium!</h1>
		</div>
    <br>
		<div class="index-section-2">
			<h1>We are a full service peer-to-peer textbook marketplace.</h1>
      
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="well well-color">
							<h1>Buy</h1>
							<p>Need a textbook for a class? Add an offer to our database for others to see!</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="well well-color">
							<h1>Sell</h1>
							<p>Pockets a little empty? Sell your unused textbooks here to fill them up!</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="well well-color">
							<h1>Match</h1>
							<p>Unsure about your offer? We will help you find buyers and sellers!</p>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>
}
