@(title: String, 
  buyOfferForm: Form[views.formdata.BuyOfferFormData],
  studentNames: Map[String, Boolean],
  bookNames: Map[String, Boolean])

@import helper._ 
@import bootstrap3._ 

@Main(title) {
<div class="container">
  <div class="well">
  @form(routes.Application.postBuyOffer(), 'class -> "form-horizontal") {

  <!-- Student Name -->
  @bootstrap3.select(buyOfferForm("student"),
          label = "Students",
          optionMap = studentNames,
          isMultiple = false,
          help = "")
          
  <!-- Textbook -->
  @bootstrap3.select(buyOfferForm("textbook"),
          label = "Textbook",
          optionMap = bookNames,
          isMultiple = false,
          help = "")
          
  <button type="submit" class="btn btn-default col-sm-offset-2 col-sm-2">Submit</button>
  <br />
  <br />
  </div>
  }
</div>
}
