@(matchesForm: Form[views.formdata.MatchesFormData],
  studentNames: Map[String, Boolean], 
  student: String,
  studentEmail: String,
  buyOffers: List[BuyOffer], 
  sellOffers: List[SellOffer],
  matchedForSellOffers: List[SellOffer],
  matchedForBuyOffers: List[BuyOffer])
  
 @import helper._
 @import bootstrap3._
  
@Main("Matches") {
   <div class="container">
    <div class="row">
     @form(routes.Application.postMatches(), 'class -> "form-horizontal") {
     
     <!-- Student Name -->
     @bootstrap3.select(matchesForm("studentEmail"),
          label = "Choose a Student",
          optionMap = studentNames,
          isMultiple = false,
          help = "")
     <button type="submit" class="btn btn-default col-sm-offset-2 col-sm-2">Find Matches</button>
     }
     </div>
   </div>
   
      <div class="container"> 
    @if(StudentDB.getStudent(studentEmail) != null) {
      <h2>Buy Offers for @student</h2>
      <table class="table table-bordered">
        <tr>
          <th>Name</th>
          <th>Book</th>
          <th>Price</th>
          <th>Expiration Date</th>
        </tr>
      @for(buyOffer <- buyOffers) {
        <tr>
          <td>@buyOffer.getStudentName()</td>
          <td>@buyOffer.getTextbookName()</td>
          <td>@buyOffer.getPrice()</td>
          <td>@buyOffer.getExpirationDate()</td>
        </tr>
      }    
      </table>
      <br />
      <h2>Sell Offers for @student</h2>
      <table class="table table-bordered">
        <tr>
          <th>Name</th>
          <th>Book</th>
          <th>Price</th>
          <th>Expiration Date</th>
        </tr>
      @for(sellOffer <- sellOffers) {
        <tr>
          <td>@sellOffer.getStudent()</td>
          <td>@sellOffer.getTextbook()</td>
          <td>@sellOffer.getPrice()</td>
          <td>@sellOffer.getExpirationDate()</td>
        </tr>
      }    
      </table>
      
      <h2>Matched Offers to Sell for Buy Offers of @student</h2>
      <table class="table table-bordered">
        <tr>
          <th>Name</th>
          <th>Book</th>
          <th>Price</th>
          <th>Expiration Date</th>
        </tr>
      @for(sellOffer <- matchedForBuyOffers) {
        <tr>
          <td>@sellOffer.getStudentName()</td>
          <td>@sellOffer.getTextbookName()</td>
          <td>@sellOffer.getPrice()</td>
          <td>@sellOffer.getExpirationDate()</td>
        </tr>
      }    
      </table>
      
            
      <h2>Matched Offers to Buy of @student</h2>
      <table class="table table-bordered">
        <tr>
          <th>Name</th>
          <th>Book</th>
          <th>Price</th>
          <th>Expiration Date</th>
        </tr>
      @for(buyOffer <- matchedForSellOffers) {
        <tr>
          <td>@buyOffer.getStudent()</td>
          <td>@buyOffer.getTextbook()</td>
          <td>@buyOffer.getPrice()</td>
          <td>@buyOffer.getExpirationDate()</td>
        </tr>
      }    
      </table>
    }
    
   </div>
}