@(matchesForm: Form[views.formdata.MatchesFormData],
  studentNames: Map[String, Boolean],
  buyOffers: List[BuyOffer])
  
 @import helper._
 import bootstrap3._
  
@Main("Matches") {
   <div class="container">
     @form(routes.Application.postMatches(), 'class -> "form-horizontal") {
     
     <!-- Student Name -->
     @bootstrap3.select(matchesForm("studentEmail"),
          label = "Choose a Student",
          optionMap = studentNames,
          isMultiple = false,
          help = "")
     <a class="btn btn-primary btn-lg pull-left" href="@routes.Application.postMatches()">Find Matches</a>
     }
   </div>
}