@(sellOffers: List[SellOffer])

@Main("Sell Offers") {
   <div class="container">
     <a class="btn btn-primary btn-lg pull-right" href="@routes.Application.newSellOffer()">Add Offer</a>
     <h2>List of Sell Offers (@sellOffers.size())</h2>
     <table class="table table-bordered table-stripped">
      <tr>
        <th>Seller</th>
        <th>Textbook</th>
        <th>Price</th>
        <th>Expiration Date</th>
      </tr>
      @for(sellOffer <- sellOffers) {
        <tr>
          <td>@sellOffer.getStudent()</td>
          <td>@sellOffer.getTextbook()</td>
          <td>@sellOffer.getPrice()</td>
          <td>@sellOffer.getExpirationDate()</td>
          <td><a href="@routes.Application.manageSellOffer(sellOffer.getId())"><button class="btn">Edit</button></a></td>
          <td><a href="@routes.Application.deleteSellOffer(sellOffer.getId())"><button class="btn">Delete</button></a></td>
          <td>@sellOffer.getId()</td>
        </tr>
      }
     </table>
   </div>
}
