@(students: List[Student])

@Main("Students") {
   <div class="container">
     <a class="btn btn-primary btn-lg pull-right" href="@routes.Application.newStudent()">Add Student</a>
     <h2>Students <span class="badge">@students.size()</span></h2>
     <table class="table table-bordered table-stripped">
      <tr>
        <th>Avatar</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </tr>
      @for(student <- students) {
        <tr>
          <td><img class="student-img" src="@student.getAvatarURL()"></td>
          <td><div style="padding-top:42px;">@student.getFirstName()</div></td>
          <td><div style="padding-top:42px;">@student.getLastName()</div></td>
          <td><div style="padding-top:42px;">@student.getEmail()</div></td>
          <td><div style="padding-top:30px;"><a href="/students/@student.getEmail/edit"><button class="btn">Edit</button></a></div></td>
          <td><div style="padding-top:30px;"><a href="/students/@student.getEmail/delete"><button class="btn">Delete</button></a></div></td>          
          </div>
        </tr>
      }
     </table>
   </div>
}
