@(students: List[Student])

@Main("Students") {
   <div class="container">
     <h2>List of Students</h2>
     <table class="table table-stripped">
      <tr>
        <th>Avatar</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </tr>
      @for(student <- students) {
        <tr>
          <td><img class="student-img" src="@student.getAvatarURL()"></td>
          <td>@student.getFirstName()</td>
          <td>@student.getLastName()</td>
          <td>@student.getEmail()</td>
        </tr>
      }
     </table>
   </div>
}
