@(textbooks: List[Textbook])

@Main("Textbooks") {
   <div class="container">
     <a class="btn btn-primary btn-lg pull-right" href="@routes.Application.newTextbook()">Add Textbook</a>
     <h2>List of Textbooks (@textbooks.size())</h2>
     <table class="table table-bordered table-stripped">
      <tr>
        <th></th>
        <th>Title</th>
        <th>Author</th>
        <th>ISBN</th>
        <th>Condition</th>
      </tr>
      @for(textbook <- textbooks) {
        <tr>
          <td><img src="http://images.amazon.com/images/P/@textbook.getIsbn().01._PE20_SCMZZZZZZZ_.jpg"></td>
          <td>@textbook.getTitle()</td>
          <td>@textbook.getAuthor()</td>
          <td>@textbook.getIsbn()</td>
          <td>@textbook.getCondition()</td>
          <td><a href="/textbooks/@textbook.getIsbn/edit"><button class="btn">Edit</button></a></td>
          <td><a href="/textbooks/@textbook.getIsbn/delete"><button class="btn">Delete</button></a></td>
        </tr>
      }
     </table>
   </div>
}
